<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="../css/bootstrap.min.css" >
		<link rel="stylesheet" href="../css/main.css" >
	</head>
	<body>

		<nav class="navbar navbar-toggleable-md  navbar-inverse bg-inverse">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="#">HackSpace</a>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item ">
						<a class="nav-link" href="/">Especialidades</a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="/formulario/">Formulario</a>
					</li>
				</ul>
			</div>
		</nav>
		
				<div class="container pt-5">
			<form method="post">
		  		<div class="form-group row">
		  			<label for="example-text-input" class="col-2 col-form-label">Nombre:</label>
			  		<div class="col-9">
			    		<input class="form-control" id="name" name ="name" type="text" placeholder="Nombre" id="example-text-input">
			  		</div>
				</div>
				<div class="form-group row">
		  			<label for="example-text-input" class="col-2 col-form-label">Apellidos:</label>
			  		<div class="col-9">
			    		<input class="form-control" id="surName" name ="surName" type="text" placeholder="Apellidos" id="example-text-input">
			  		</div>
				</div>
				<div class="form-group row">
		  			<label for="example-text-input" class="col-2 col-form-label">Edad:</label>
			  		<div class="col-9">
			    		<input class="form-control" id="age" name ="age" type="number" placeholder="Edad" id="example-text-input">
			  		</div>
				</div>
				<div class="form-group row">
		  			<label for="example-text-input" class="col-2 col-form-label">Comportamiento:</label>
			  		<div class="col-9">
			    		<input class="form-control" id="behavior" name ="behavior" type="text" placeholder="¿Cómo se caracteriza?" id="example-text-input">
			  		</div>
				</div>
				<div class="form-group row">
		  			<label for="example-text-input" class="col-2 col-form-label">Comportamiento:</label>
			  		<div class="col-9">
			    		<input class="form-control" id="img" name ="img" type="text" placeholder="url de imagen" id="example-text-input">
			  		</div>
				</div>

		 		<button type="submit" class="btn btn-primary">Enviar</button>
			</form>
		</div>

		<h2> Personajes ya creados</h2>
		<ul>
			{% for characte in Character %}
	    		<li>{{characte.name}} {{characte.surName}}</li>
			{% endfor %}

		</ul>

		<!-- jQuery first, then Tether, then Bootstrap JS. -->
		<script src="../js/jquery-3.1.1.slim.min.js" ></script>
		<script src="../js/tether.min.js" ></script>
		<script src="../js/bootstrap.min.js"></script>
	</body>
</html>